<% content_for :title, "Record: #{@record.name}" %>
<div id="<%= dom_id @record %>">
  <h1 class="govuk-heading-l"><%= @record.name %></h1>

  <p><%= valid_record_tag(@record) %></p>
  <%= govuk_list(@record.validation_report) unless @record.json_valid? %>

  <h2 class="govuk-heading-m govuk-!-padding-top-2">Metadata</h1>
  <pre>
<%= JSON.pretty_generate(@record.metadata) %>
  </pre>


  <div class="govuk-!-padding-bottom-4">
    <%= govuk_link_to "Edit this record", edit_record_path(@record) %>
  </div>

  <div class="govuk-!-padding-bottom-2">
    <% if @record.published? %>
      <p class="govuk-body">Any edits to the record will be pushed to the Data Marketplace</p>
      <%= govuk_button_to "Remove this record from the Data Marketplace", unpublish_record_path(@record), warning: true %>
    <% else %>
      <%= govuk_button_to "Publish this record on the Data Marketplace", publish_record_path(@record), class: "govuk-!-padding-bottom-2" %>

      <%= govuk_button_to "Destroy this record", @record, method: :delete, warning: true %>
    <% end %>
  </div>



  <% if @remote_metadata %>
    <h2 class=govuk-heading-m>Record within Data Marketplace</h2>

    <p class="govuk-body">
      This record can be viewed
      <%= link_to(
            "here",
            "https://test.datamarketplace.gov.uk/catalogdata/getcddodataasset?dataAssetId=#{@record.remote_id}"
          ) %>
      on the Data Marketplace
    </p>

    <h3 class=govuk-heading-s>Remote Metadata</h3>

    <pre>
    <%= JSON.pretty_generate(@remote_metadata) %>
    </pre>

  <% end %>
</div>
